body {
  background-color: rgb(160, 132, 127);
}

h1 {
  font-family: Impact, sans-serif;
  color: rgb(20, 44, 42);
  text-align: center;
}
p {
  color: rgb(20, 31, 30);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
li {
  
border-bottom-style: solid;
border-color:  rgb(175, 155, 152);
border-width: 1px;
margin-left : 20px
  
}
